<div class="row">
    <div class="col-md-4">
        <div class="card shadow-lg">
        <div class="card-header" style="background-color:#b3cccc">
            Total Categories
        </div>
        <div class="card-body">
            <h5 class="card-title"><%=@categories.count%></h5>
            
        </div>
        </div>
    </div>

    <div class="col-md-4" >
        <div class="card shadow-lg">
        <div class="card-header" style="background-color:#b3cccc">
            Total Product
        </div>
        <div class="card-body">
            <h5 class="card-title"><%=@products.count%></h5>
            
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-lg">
        <div class="card-header" style="background-color:#b3cccc">
            Total Order
        </div>
        <div class="card-body">
            <h5 class="card-title"><%=@order.count%></h5>
            
        </div>
        </div>
    </div>
</div>