<footer class="site-footer">
    <div class="footer-inner bg-dark">
        <div class="row">
            <div class="col-sm-6 ">
                Copyright &copy; 2023 Rohit Raj
            </div>
            <div class="col-sm-6 text-right">
                Designed by <a href="https://www.instagram.com/rohityadavhjp/">Rohit Raj</a>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
#    position: fixed;
position:relative;
   height:xxx;
   bottom: 0;
   width: 100%;

}
</style>