<div class="card">
  <div class="card-header">
    <strong class="card-title">New Category</strong>
  </div>
    <div class="card-body">
      <%= render 'form', category: @category %>
      <%= link_to 'Back', categories_path, class:"btn btn-secondary" %>
    </div>


